:root {
    --primary-high: #8DCAFE;
    --secondary-medium:  rgba(255, 255, 255, 0.60);
    --secondary-low: rgba(255, 255, 255, 0.12);
    --notification-bg: rgba(44, 50, 63, 0.4);
    --UI-level-2: #030919;
    --white-high: rgba(255, 255, 255, 0.90);
    --drop-shadow: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    --background-blur: drop-shadow(0 0 60px);
}

body {
    height: 100vh;
    padding: 0 32px;
    background-color: var(--UI-level-2);
    color: var(--white-high);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

section {
    position: relative;
    height: 100%;
    width: 100%;
}

nav {
    width: 100%;
    height: 72px;
    padding-top: 16px;
    display: flex;
    gap: 40px;
    background-color: var(--UI-level-2);
}

h1 {
    color: var(--white-high);
}

label {
    text-align: start;
    margin: auto 0;
    margin-right: 8px;
}

input {
    background: transparent;
    color: var(--white-high);
    border: 0;
    width: 32px;
    margin: auto 0;
}

input[type = "radio"] {
    background-color: var(--UI-level-2);
    color: transparent;
}

input:not(:last-child) {
    margin-right: auto; 
}

button, #tabButton {
    width: 36px;
    height: 72px;
    background-color: var(--UI-level-2);
    border: 0px;
    color: var(--white-high);
}

.list {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center; 
    height: auto;
    padding: 0;
}


.listtile {
    height: auto;
    margin: 0;
    padding: 16px;
    border-radius: 16px;
    background-color: var(--secondary-low);
    filter: var(--drop-shadow);
    filter: var(--background-blur);
}

.notifications-list {
    gap: 4px;
    width: 25vw;
}

.notification {
    width: calc(25vw - 32px);
}

.settings-list {
    gap: 8px;
    width: 65vw;
}

.settings-tile {
    display: flex;
    width: calc(65vw - 32px);
    align-items: center;
}

.setting-name {
    width: 20vw;
    margin: auto 0;
}

